<div class="scrollable-table">
  <table>
    <thead>
      <tr>
        <th id="table-insp" class="col-hover">Inspector
          <div class="table-drop-menu" id="table-drop-insp" style="display: none;"></div>
        </th>
        <th id="table-date" class="col-hover">Date
          <div class="table-drop-menu" id="table-drop-date" style="display: none;">
              <p>January</p> <p>February</p> <p>March</p> <p>April</p>
              <p>May</p> <p>June</p> <p>July</p> <p>August</p>
              <p>September</p> <p>October</p> <p>November</p> <p>December</p>
            </div>
        </th>
        <th id="table-addr" class="col-hover">Address</th>
        <th id="table-time" class="col-hover">Time</th>
        <th id="table-dept" class="col-hover">Department</th>
        <th id="table-sign" class="col-hover">Signs</th>
        <th id="table-cite" class="col-hover">Citations</th>
        <th id="table-stat" class="col-hover">Status</th>
      </tr>
    </thead>
  </table>
</div>
<div class="scrollable-body">
  <div id="stats-crunch-cases-data"></div>
</div>
